In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
def encode_binary_values(df:pd.DataFrame, columns:list)->pd.DataFrame:
  """_summary_

  Args:
      df (pd.DataFrame): _description_
      columns (list): _description_

  Returns:
      pd.DataFrame: _description_
  """
  
  for col in columns:
    df[col] = df[col].apply(lambda x: 1 if x == "True" else 0)
  
  return df

In [2]:
df = pd.read_csv("online_retail_customer_churn.csv")
df

,Customer_ID,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Target_Churn
0,1,62,Other,45.15,5892.58,5,22,453.80,2,0,3,129,True,Responded,True
1,2,65,Male,79.51,9025.47,13,77,22.90,2,2,3,227,False,Responded,False
2,3,18,Male,29.19,618.83,13,71,50.53,5,2,2,283,False,Responded,True
3,4,21,Other,79.63,9110.30,3,33,411.83,5,3,5,226,True,Ignored,True
4,5,21,Other,77.66,5390.88,15,43,101.19,3,0,5,242,False,Unsubscribed,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,54,Male,143.72,1089.09,2,29,77.75,0,3,2,88,True,Ignored,False
996,997,19,Male,164.19,3700.24,9,90,34.45,6,4,4,352,False,Responded,True
997,998,47,Female,113.31,705.85,17,69,187.37,7,3,1,172,True,Unsubscribed,False
998,999,23,Male,72.98,3891.60,7,31,483.80,1,2,5,55,False,Responded,True
999,1000,34,Other,134.86,3956.71,15,48,420.91,6,0,1,269,True,Ignored,True

In [3]:
df.duplicated().sum()

0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_ID                 1000 non-null   int64
 1   Age                         1000 non-null   int64
 2   Gender                      1000 non-null   object
 3   Annual_Income               1000 non-null   float64
 4   Total_Spend                 1000 non-null   float64
 5   Years_as_Customer           1000 non-null   int64
 6   Num_of_Purchases            1000 non-null   int64
 7   Average_Transaction_Amount  1000 non-null   float64
 8   Num_of_Returns              1000 non-null   int64
 9   Num_of_Support_Contacts     1000 non-null   int64
 10  Satisfaction_Score          1000 non-null   int64
 11  Last_Purchase_Days_Ago      1000 non-null   int64
 12  Email_Opt_In                1000 non-null   bool
 13  Promotion_Response          1000 non-null   object
 14  Target_Churn                1000 non-null   bool
dtypes: bool(2), float64(3), int64(8), object(2)
memory usage: 103.6+ KB

In [5]:
df.describe()

,Customer_ID,Age,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,43.267000,111.962960,5080.79265,9.727000,49.456000,266.876530,4.612000,1.934000,2.974000,182.890000
std,288.819436,15.242311,52.844111,2862.12335,5.536346,28.543595,145.873445,2.896869,1.402716,1.391855,104.391319
min,1.000000,18.000000,20.010000,108.94000,1.000000,1.000000,10.460000,0.000000,0.000000,1.000000,1.000000
25%,250.750000,30.000000,67.800000,2678.67500,5.000000,25.000000,139.682500,2.000000,1.000000,2.000000,93.000000
50%,500.500000,43.000000,114.140000,4986.19500,9.000000,49.000000,270.100000,5.000000,2.000000,3.000000,180.500000
75%,750.250000,56.000000,158.452500,7606.47000,14.000000,74.000000,401.602500,7.000000,3.000000,4.000000,274.000000
max,1000.000000,69.000000,199.730000,9999.64000,19.000000,99.000000,499.570000,9.000000,4.000000,5.000000,364.000000

In [6]:
df.columns

Index(['Customer_ID', 'Age', 'Gender', 'Annual_Income', 'Total_Spend',
       'Years_as_Customer', 'Num_of_Purchases', 'Average_Transaction_Amount',
       'Num_of_Returns', 'Num_of_Support_Contacts', 'Satisfaction_Score',
       'Last_Purchase_Days_Ago', 'Email_Opt_In', 'Promotion_Response',
       'Target_Churn'],
      dtype='object')

In [7]:
df["Gender"].value_counts()

Gender
Female    342
Male      334
Other     324
Name: count, dtype: int64

In [8]:
df["Target_Churn"].value_counts()

Target_Churn
True     526
False    474
Name: count, dtype: int64

In [9]:
df["Promotion_Response"].value_counts()

Promotion_Response
Unsubscribed    361
Responded       338
Ignored         301
Name: count, dtype: int64

In [10]:
df["Email_Opt_In"].value_counts()

Email_Opt_In
True     529
False    471
Name: count, dtype: int64

In [11]:
features_to_encode = ["Gender", "Promtion_response"]